PORT=9999
NODE_ENV=development

DB_URL=mongodb+srv://FAKE_USER:FAKE_PASS@fake-cluster.xyz.mongodb.net/FAKE_DB_NAME

JWT_SECRET=THIS_IS_A_COMPLETELY_FAKE_SECRET_STRING_DO_NOT_USE
JWT_EXPIRES_IN=99d

FRONTEND_URL=http://fake-domain-test.local
PUBLIC_PROFILE_BASE_URL=http://fake-domain-test.local/profile

ADMIN_EMAIL=nobody@dummy-domain.net
SMTP_HOST=smtp.fake-server-provider.xyz
SMTP_PORT=000
SMTP_SECURE=false
SMTP_USER=test_user_999@dummy-domain.net
SMTP_PASS=FAKE_PASSWORD_ABC_123_XYZ

CLOUDINARY_CLOUD_NAME=fake_cloud_xyz
CLOUDINARY_API_KEY=000000000000000
CLOUDINARY_API_SECRET=fake_secret_key_000000000

ADMIN_SEED_NAME=Test_Dummy_Admin
ADMIN_SEED_EMAIL=dummy_admin@dummy-domain.net
ADMIN_SEED_PASSWORD=dummy_password_999
ADMIN_SEED_ROLE=admin